<div class="row" ng-controller="Order as order">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
    ng-repeat="sectionOrder in order.activeSection()"
  >
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{sectionOrder}}</h3>
      </div>
      <div class="panel-body">
        <div class="btn-toolbar pull-right">
          <button class="btn btn-default"
            ng-repeat="availSection in order.availSections()"
            ng-click="order.moveTo(sectionOrder, availSection)"
          >{{availSection}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary btn-lg"
      ng-controller="OrderLoading as orderLoading"
      ng-click="orderLoading.load()"
    >Загрузить ещё</button>
  </div>
</div>
